<!DOCTYPE html>
<html>
<head>
  <title>FirtAppTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link data-turbolinks-track="true" href="/assets/application.css" media="all"
rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

<%= yield %>


</body>
</html>
